@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7d3345;
    color: #fdc8e2;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: #fdc8e2;
    min-height: 75vh;
    margin: 0px 50px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 5px #081e2961;
}