@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #091f2a, #0f3243);
    color: #fc9ec0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    padding: 20px;
    background-color: #fdc8e2;
    color: #602238;
    height: 75vh;
    margin: 0px 50px;
    border-radius: 15px;
    box-shadow: 10px 15px 25px 15px #1c1c1cb0;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    padding: 50px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fdc8e2;
    border-radius: 0px 5px 5px 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6022386a;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: #fdc8e2;
    border-radius: 0px 0px 15px 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #602238b0;
  }

@media screen and (max-width: 1000px) {
    main {
        padding: 5vw;
        
        margin: 0px 5vw;
    }
}